@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=EB+Garamond:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

main h1 {
    /* border: 1px solid black; */
    font-size: 5rem;
    line-height: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 1%;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    color: burlywood;
}

.wrap {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

/* navbar */
.nav-container {
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    margin-top: 0;
    z-index: 999;
}

.nav-container .nav-logo img {
    width: 180px;
    height: 40px;
}

.nav-container .nav-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.nav-link .link-list {
    text-decoration: unset;
    color: black;
    padding: 10px 20px;
    margin: 0px 16px;
}

.nav-link .link-list:hover {
    background-color: burlywood;
    border-radius: 50px;
}
 
.nav-login{
    position: center;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-login a i {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
}

.nav-login a i:hover {
    border-radius: 50px;
    background-color: burlywood;
}
/* akhir header css */

/* ---------------------------FOOTER----------------------- */
footer{
    background: #343434;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
    color: white;

}

.footer-content ul {
    display: flex;
    flex-direction: column;
}

.footer-content-social{
    width: 33.3%;
    color: white;
}

.h3-f{
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    color: white;
    text-align: left;
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}

.footer-content ul li a {
    color: white;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: burlywood;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
.social-icons i:hover{
    color: burlywood;
}
.bottom-bar{
    background: burlywood;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: black;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.footer-content-createby{
    width: 33.3%;
    color: white;
}

.footer-content-createby p{
    color: white;
    text-align: left;
    width: 350px;
    margin: auto;
    padding: 7px;
}

/* ----------------------------AKHIR FOOTER----------------------------- */

/* -------------------------------HOME--------------------------------- */
.home-page{
    color: white;
    background: url(images/background2.png);
    background-position: center;
    height: 90vh;
    width: 100%;
    min-height: 20cm;
    max-height: 50cm;
    position: relative;
}
.home-hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90cm;
    width: 92%;
    margin-top: 50%;
}
.span-home{
    color: #765341;
    font-family: 'EB Garamond';
}
.primary{
    font-size: 113px;
    font-family: 'EB Garamond';
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    color: #d8cbc4;
    font-weight: 200;
    padding-top: 20%;
}
.desk-home{
    margin-left: 22%;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
}
.desk-span{
    color: #5b3e31;
    font-family: 'Montserrat', sans-serif;
}
.btn{
   display: flex;
   font-family: 'Montserrat';
   font-size: 18px;
   margin-left: 40%;
   /* margin-top: 100px; */
   font-weight: bold;
   background: #765341;
   width: 210px;
   padding: 13px 40px;
   text-align: center;
   text-decoration: none;
   text-transform: capitalize;
   color: aliceblue;
   border-radius: 8px;
   cursor: pointer;
   box-shadow: 0 0 10px rgba(0 ,0, 0, 0.1);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: box-shadow, transform;
   transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* -----------------------------------------AKHIR HOME----------------------------------- */

/* ---------------------------------------------ABOUT----------------------------------------- */
.about {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.aboutus {
    /* border: 1px solid black; */
    margin-left: 2%;
}

.about img {
    width: 30%;
    height: auto;
    border: 1px solid white;
}

.about .aboutus p {
    line-height: 25px;
    margin: 20px 0;
    text-align: left;
    color: white;
}

.about .aboutus button {
    width: auto;
    border: 3px solid black;
    border-radius: 5px;
    margin-right: 2%;
    padding: 2% 5%;
}

.about .aboutus .btn1 {
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: inherit;
}

.about .aboutus .btn1 a {
    color: inherit;
}

.about .aboutus .btn1:hover {
    background-color: white;
    color: black;
}
.about .aboutus .btn2 {
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: inherit;
}

.about .aboutus .btn2 a {
    color: inherit;
}

.about .aboutus .btn2:hover {
    background-color: black;
    color: white;
}

/* -------------------------------------AKHIR ABOUT----------------------------------- */

/* -------------------------------------------PRODUCT------------------------------------- */


main h1 {
    font-size: 5rem;
    line-height: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 1%;
    text-align: center;
}

 h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.gallery {
    flex-wrap: wrap;
    flex-direction: row;
    background: url(images/about.jpg);
}

.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    font-size: 16px;
    color: grey;
    padding-top: 5px 8px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: black;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

li {
    padding-top: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}

/* .checked {
    color: rgb(247, 192, 13);
} */

.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

.gallery .content button {
    text-align: center;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.gallery .content button:hover {
    background-color: rgb(245, 182, 99);
}

.gallery .content button a {
    color: white;
}

.gallery .content button a:hover {
    color: rgb(250, 224, 190);
}

.buy-1 {
    background-color: burlywood;
}

/* ------------------------------------------------AKHIR PRODUCT-------------------------------- */

/* ----------------------------------------------------FAQ------------------------------------------ */
.faq {
    background-image: url(images/faq-background.png);
}

.list-faq {
    box-sizing: border-box;
    border: 1px solid black;
    width: 70%;
    margin-bottom: 1%;
    font-size: 25px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 0;
    box-shadow: 2px 3px 5px black;
    background-color: white;
    /* background-color: var(--main-bg-color); */
}

.faq .list-faq input {
    appearance: none;
    margin: 0;
    padding: 0;
}

.faq .list-faq label {
    display: flex;
    /* font-size: 25px; */
    margin: 0;
    padding: 0 40px 20px 20px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
}

label h5 {
    margin: 0;
    padding: 0;
}

.faq .list-faq label::after {
    content: 'v';
    color: darkgray;
    font-size: 20px;
    position: absolute;
    transform: rotate(180deg);
    right: 20px;
    top: 28px;
    transition: transform 1s;
}

.faq .list-faq input:checked ~ label::after {
    transform: rotate(0deg);
}

.list-faq .answer h6 {
    transition: 1s;
    overflow: hidden;
    max-height: 0;
    font-size: 17px;    
    text-align: left;
    margin: 0;
    font-weight: 100;
}

.faq .list-faq input:checked ~ .answer h6 {
    max-height: 100vh;
    background-color: burlywood;    
    padding: 20px;    
}

@media only screen and (max-width: 640px) {
    .list-faq {width: 90%;}
}

/* ------------------------------------------------AKHIR FAQ------------------------------- */
/* -------------------------------------------CONTACT US-------------------------------------- */

 .form
 {
     grid-area: form;
 }
 .info
 {
     grid-area: info;
 }
 .map
 {
     grid-area: map;
 }
 .contact
 {
     padding: 40px;
     background-color: beige;
     box-shadow: 0 5px 35px rgb(0, 0, 0, 0.15);
 }
 .box
 {
     position: relative;
     display: grid;
     grid-template-rows: 5fr 4fr;
     grid-template-areas: 
     "form info"
     "form map";
     grid-gap: 20px;
 }
 .contact h3
 {
    color: burlywood; 
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 10px;
 }
 
 /* Form */
 
 .formBox
 {
     position: relative;
     display: flex;
     flex-direction: column; 
     margin-top: 13px;
     width: 100%;
     color:burlywood;
     font-weight: 500;
     
 }
     
 .formBox .row50
 {
    display: flex; 
    gap: 30px;
 }
 .inputBox
 {
     display: flex;
     flex-direction: column; 
     margin-bottom: 10px;
     width: 50%;
 }
 .formBox .row100 .inputBox
 {
     width: 100%;
     
 }
 .inputBox span
 {
     color: burlywood;
     margin-top: 10px;
     margin-bottom: 5px;
     font-weight: 500;
 }
 .inputBox input
 {
     padding: 5px;
     font-size: 1.1rem;
     outline: none;
     border: 1px solid black;
 
 }
 .inputBox textarea
 {
     padding: 5px;
     font-size: 1.1rem;
     outline: none;
     border: 1px solid black;
     resize: none;
     min-height: 220px;
     margin-bottom: 10px;    
 }
 .inputBox input[type="submit"]
 {
     background: burlywood;
     color: aliceblue;
     border: none;
     font-size: 1.1rem;
     max-width: 120px;
     font-weight: 500;
     cursor: pointer;
     padding: 14px 15px;
 }
 .inputBox::placeholder
 {
     color: white;
 }
 
 /* info */
 .info
 {
     background: burlywood;
 }
 .info h3
 {
     color: white;
 }
 .info .infoBox div
 {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 }
 .info .infoBox div span
 {
     min-width: 40px;
     height: 40px;
     color: white;
     background: #B69574;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.5em;
     border-radius: 50%;
     margin-right: 15px;  
 }
 .info .infoBox div p
 {
     color: white;
     font-size: 1.1em;
 }
 .info .infoBox div a
 {
     color: white;
     text-decoration: none;
 }
 .sci
 {
     margin-top: 40px;
     display: flex;
 }
 .sci li
 {
     list-style: none;
     margin-right: 15px;
 }
 .sci li a
 {
     color: white;
     font-size: 2em;
     color: white;
 }
 .sci li a:hover
 {
     color: white;
 }
 .map
 {
   padding: 0%;  
 }
 .map iframe
 {
     width: 100%;
     height: 100%;
 }
 